body {
    font-family: Arial, sans-serif;
    background-image: url(' https://raw.githubusercontent.com/Arsenalec23/timer/main/vladimir-anikeev-IM8ZyYaSW6g-unsplash.jpg '); /* URL to your sky background image */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    width: 100vw;
}

.container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    color: #333;
	margin-top: 0;
}

#countdown {
    margin-top: 20px;
}

.label {
    font-size: 20px;
    color: #555;
}

.number {
    font-size: 36px;
    color: #007bff;
    display: inline;
    margin: 0 5px;
}

.unit {
    font-size: 18px;
    color: #555;
    display: inline;
    margin: 0 5px;
}

.tuna-fish {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tuna-fish img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    #countdown {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .unit {
        display: inline; /* Reset display property for inline behavior */
        margin: 5px; /* Adjust margin as needed */
    }
}
