body {
    font-family: Arial, sans-serif;
    background-image: url(' https://raw.githubusercontent.com/Arsenalec23/timer/main/vladimir-anikeev-IM8ZyYaSW6g-unsplash.jpg '); /* URL to your sky background image */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    width: 100vw;
}

.container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    color: #333;
	margin-top: 0;
}

#countdown {
    margin-top: 20px;
}

.label {
    font-size: 20px;
    color: #555;
}

.number {
    font-size: 36px;
    color: #007bff;
    display: inline;
    margin: 0 5px;
}

.unit {
    font-size: 18px;
    color: #555;
    display: inline;
    margin: 0 5px;
}

.tuna-fish {
    background-image: url(' https://raw.githubusercontent.com/Arsenalec23/timer/main/tuna.gif ');
    width: 640px; /* Set a maximum width */
    height: 426px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    .container {
        padding: 0 10px; /* Add some padding to the container */
	text-align: center;
	margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh;
        width: 100vw;
    }

    .number {
        font-size: 24px; /* Decrease font size for numbers */
    }

    .unit {
        font-size: 14px; /* Decrease font size for units */
    }

    .tuna-fish {
        max-width: 85%; /* Adjust maximum width for smaller screens */
	max-height: 85%;
    }
}
